<%= form_for(@room) do |f| %>
  <% if @room.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@room.errors.count, "error") %> prohibited this room from being saved:</h2>

      <ul>
      <% @room.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :room_num %><br>
    <%= f.text_field :room_num %>
  </div>
  <div class="field">
    <%= f.label :dorm_id %><br>
    <%= f.number_field :dorm_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
